html {
	/* burger */
	--bg: #d62828; /* contrast with primary */
	--primary: #eae2b7;
	--secondary: #F3AD16; /* between bg and primary */
	--links: #ffe236; /*contrast with everything */

	/* newspaper */
	--bg: #808080;
	--primary: #fff;
	--secondary: lightgray;
	--links: #ffc524;

	--width: 500px;
	--height: 500px;
	--font-size: 18px;
	background-color: var(--bg);
	color: var(--primary);
	font-size: var(--font-size);
	font-family: "Ubuntu Mono", monospace;
}

a {
	color: var(--links);
}
a:hover {
	background: var(--links);
	color: var(--primary);
	cursor: pointer;
}

*:focus {
	outline:none;
}

*::selection {
	background: var(--secondary);
	color: var(--primary);
}

h1 {
	font-family: Crete Round, serif;
	margin-bottom: 5px;
	text-align: center;
}
h1:hover {
	cursor: pointer;
}
ul {
	margin: 0;
}

button {
	background-color: var(--primary);
	height: var(--font-size);
	border: 0;
	color: var(--bg);
	padding: 0;
	padding-left: var(--font-size);
	padding-right: var(--font-size);
	font-family: inherit;
	font-size: calc(var(--font-size) - 5px);
	display: inline-block;
	float: right;
}
button:hover {
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
	border-top: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
}
button:active {
	outline:none;
	background-color: var(--bg);
}

span {
	height: inherit;
	padding:0;
	font-size: inherit;
	background-color: var(--primary);
	color: var(--bg);
	line-height:1;
}
input[type=text] {
	height: inherit;
	padding:0;
	font-size: var(--font-size);
	background-color: var(--primary);
	color: var(--bg);
	min-width: var(--font-size);
	line-height:1;
	border:1px solid var(--primary);
	font-family: inherit;
	/* caret-color: var(--primary); */
}
input[type=text]::placeholder {
	color: var(--secondary);
}

.inputbar {
	width: inherit;
	top: 40%;
	position: absolute;
}

.caret {
	background-color: transparent;
	left: 24ch;
	position:absolute;
	animation: caret_blink 0.4s steps(1) infinite;
}
@keyframes caret_blink {
	0% { opacity:1; }
	50% { opacity:0; }
}