/*
@media only screen and (max-device-width: 480px) {
	html {
		--width: 70%;
		--height: 70%;
	}
}
*/

.noselect {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
	width: var(--width);
	height: var(--height);
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#log {
	line-height: 1.3;
	height: inherit;
}

#lognext {
	float: right;
}

#browser {
	width: inherit;
	height: inherit;
	outline: 1px solid var(--primary);
}

#search_bar {
	background-color: var(--primary);
	width: var(--width);
	height: calc(var(--font-size) + 1px);
	font-family: inherit;
	font-size: inherit;
	color: var(--bg);
	line-height: 1;
}

#search_type {
	float: left;
}

#search_button {
	border: 0;
	border-left: 1px solid var(--bg);
	right: calc(3ch + 1px);
	position: absolute;
}

#search_input {
	background-color: var(--primary);
	color: inherit;
	height: var(--font-size);
	width: 39ch;
	padding: 0;
	border: 0;
	resize: none;
	overflow: hidden;
	font-size: inherit;
	font-family: inherit;
}
#search_bar:hover, #search_input:hover {
	cursor: text;
}

iframe {
	height: calc(var(--height) - var(--font-size) - 1px);
	width: inherit;
	border: 0;
	scrollbar-color: var(--bg) var(--primary);
}

.quit {
	padding-left: 1ch;
	padding-right: 1ch;
	float: right;
	border-left: 1px solid var(--bg);
}

b {
	font-weight: normal;
	color: var(--secondary);
}
b:hover {
	background: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}