@media only screen and (max-device-width: 480px) {
	html {
		--width: 70%;
		--height: 50%;
		font-size: 35px;
	}
}

.noselect {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
	width: var(--width);
	height: var(--height);
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#log {
	line-height: 1.3;
	height: inherit;
}

#browser {
	height: inherit;
	outline: 1px solid var(--primary);
}

#search_bar {
	background-color: var(--primary);
	width: var(--width);
	height: calc(var(--font-size) + 1px);
	font-family: inherit;
	font-size: inherit;
	color: var(--bg);
	line-height: 1;
}

#search_button {
	border-left: 1px solid var(--bg);
	display: inline-block;
	right: 0;
	position: absolute;
}

#search_input {
	background-color: var(--primary);
	width: calc(-2.5 * var(--font-size) + var(--width));
	color: inherit;
	height: var(--font-size);
	padding: 0;
	border: 0;
	resize: none;
	overflow: visible;
	left: calc(var(--font-size) * 2.5);
	position: absolute;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}

button {
	background-color: var(--primary);
	height: var(--font-size);
	border: 0;
	color: var(--bg);
	padding: 0;
	padding-left: var(--font-size);
	padding-right: var(--font-size);
	font-family: inherit;
	font-size: calc(var(--font-size) - 5px);
}
button:hover {
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}
button:active {
	outline:none;
	background-color: var(--bg);
}

*:focus {
	outline:none;
}

textarea::selection {
	background: var(--secondary);
	color: var(--primary);
}

span {
	height: inherit;
	padding:0;
	padding-left: var(--font-size);
	padding-right: var(--font-size);
	font-size: inherit;
}
span:hover {
	cursor: default;
}

iframe {
	height: calc(var(--height) - var(--font-size) - 1px);
	width: inherit;
	border: 0;
	scrollbar-color: var(--bg) var(--primary);
}